/* ======= clerk overrides ======== */
.cl-socialButtonsIconButton {
    border: 2px solid #222429;
}

.cl-button {
    color: white;
}

.cl-socialButtonsProviderIcon__github {
    filter: invert(1);
}

.cl-internal-b3fm6y {
    background: #f97535;
}

.cl-formButtonPrimary {
    background: #f97535;
}

.cl-footerActionLink {
    color: #f97535;
}

.cl-headerSubtitle {
    color: #c5d0e6;
}

.cl-logoImage {
    width: 10rem;
    height: 3rem;
}

.cl-internal-4a7e9l {
    color: white;
}

.cl-userButtonPopoverActionButtonIcon {
    color: white;
}

.cl-internal-wkkub3 {
    color: #f97535;
}